run:
  name: "qwen3_600M_sft_thinking"
  mode: "sft"

model:
  type: "hf_causal"
  id: "Qwen/Qwen3-0.6B-Base"
  dtype: "bfloat16"
  gradient_checkpointing: false

tokenizer:
  type: "hf"
  id: "Qwen/Qwen3-0.6B-Base"

data:
  type: "sft_mixed"
  datasets_config:
    - path: "kaist-ai/CoT-Collection"
      weight: 0.5
    - path: "allenai/big-reasoning-traces"
      weight: 0.3
    - path: "open-r1/OpenThoughts3-1.2M"
      weight: 0.15
    - path: "AI-MO/NuminaMath-CoT"
      weight: 0.05
  max_seq_len: 1536
  num_proc: 12
  packing: true


training:
  per_device_train_batch_size: 8
  per_device_eval_batch_size: 8
  gradient_accumulation_steps: 4

  dataloader_num_workers: 8
  dataloader_pin_memory: true
  dataloader_prefetch_factor: 2

  max_steps: 8000
  save_steps: 500
  eval_steps: 500
  learning_rate: 1.0e-5
  warmup_steps: 400

  logging_steps: 10
  logging_first_step: true
  bf16: true
  torch_compile: true

wandb:
  tags: ["qwen3-0.6b", "sft", "thinking", "reasoning", "math"]
